/.idea/
/*/build/
/.gradle/
/gradle/
/gradlew*
*.log
/*/bin/

#latex
*.aux
*.lua
*.bst
*.ldf
*.bbl
*.blg
*.out
*.thm
*.toc
*.pdf
*_latexmk
docs/latex/thesis.fdb_latexmk
docs/latex/thesis.fls
docs/latex/thesis.synctex.gz

#database
*.db
*.pbf
